/**
 * Normalize.css
 * A modern alternative to CSS resets
 * https://github.com/necolas/normalize.css
 */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * Remove the outline when hovering in all browsers.
   */
  
  abbr[title] {
    border-bottom: none; /* Remove the dotted border on hover */
  }
  
  /* Lists
     ========================================================================== */
  
  /**
   * Remove the default list style in all browsers.
   */
  
  ol, ul {
    list-style: none;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /**
   * Correct overflow not hidden in IE 9/10/11.
   */
  
  svg {
    overflow: hidden;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button, input, optgroup, select, textarea {
    font: inherit; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Remove the inheritance of text transform in Edge and Firefox.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button, select {
    text-transform: none; /* 1 */
  }
  
  /* Textarea placeholders
     ========================================================================== */
  
  /**
   * Remove the padding in Firefox.
   */
  
  textarea {
    padding: 0;
  }
  
  /* Reset extra padding on nested lists in Safari and Chrome.
     ========================================================================== */
  
  ol ol, ul ul, ol ul, ul ol {
    padding: 0;
  }
  
  /* Summary containers in Edge and Safari.
     ========================================================================== */
  
  summary {
    display: list-item;
  }
  
  /* Inherit fonts for inputs and buttons in Edge and Firefox.
     ========================================================================== */
  
  button, input, optgroup, select, textarea {
    font: inherit;
  }
  
  /* Correct the odd appearance in Safari and Chrome.
     ========================================================================== */
  
  [hidden] {
    display: none;
  }
  